*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: white;
    margin-bottom: 5%;
    color: black;
    font-size: 50px;
}


body{
    background-color: rgb(246, 248, 249) ;
    font-size: 30px;
}


.container{
    background-color: white;
    margin: 5px 20%;
}

.container>div{
    margin-left: 10%;
}

#in-nav{
    padding-top: 1%;
    padding-bottom: 1%;
}

#in-main{
    padding-top: 5%;
    padding-bottom: 5%;

}



.add{
    display: inline-block;
    border-radius: 12%;
    border: solid;
    padding: 1%
}

.task{
    background-color:rgb(71, 173, 241) ;
    color: white;
}

.sectio{
    background-color: white;
    color: lightgray
}

#logo{
    width:5%;
    vertical-align:middle;
}
